# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-v3
dist-ssr
*.local
private
builds

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# scss
*.module.scss.d.ts

# ignore newer changes to .gitmodules
.gitmodules
discord
