:root {
	font-size: 10px;
	--chview-bkgrnd: #36393f;
	--chview-bkgrn2: #40444b;
	--chview-frgrnd: #dcddde;
	--chview-shadow: #2c2f32;
	--chlist-bkgrnd: #2f3136;
	--chlist-select: #393c42;
	--text-no-mesgs: #72767d;
	/* text with pings or messages is white */
	--text-if-muted: #4f545c;
	--default-avatr: url("/css/default.png");
	--color-of-ping: #ed4245;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding: 0;
	margin: 0;
	image-rendering: optimizeSpeed;
}

a {
	color: #00aff4;
}

* {
	font-family: "Open Sans", twemoji, sans-serif;
	box-sizing: border-box;
}

#chview,
#chlist,
#srvrs {
	transition: transform 0.4s ease;
}

#chview {
	z-index: 1;
}
#chlist {
	left: -100vw !important;
	z-index: 2;
}
#srvrs {
	transform: translateX(-7.2rem);
	z-index: 3;
}

#chlist.selected {
	transform: translateX(100vw);
}

#chlist.selected + #chview {
	transform: translateX(50vw);
}

#srvrs.selected + #chlist {
	transform: translateX(calc(7.2rem + 100vw));
}

#srvrs.selected {
	transform: none;
}

#chview,
#composer,
#chview header,
#chview footer,
#chlist {
	position: fixed;
	width: 100vw;
}
