* {
	font-weight: 500;
	box-sizing: border-box;
	font-size: 16px;
	font-family: Whitney, "Open Sans";
}

html,
body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background-color: #36393f;
}

body {
	padding: 20px 16px;
}

button,
input {
	height: 40px;
	width: 100%;
	padding: 10px;
	background-color: #202225;
	color: white;
	border: none;
	outline: none;
	border-radius: 3px;
	background-image: none;
	line-height: 1;
}

input {
	margin-bottom: 20px;
	font-weight: 400;
}

.red,
.red > * {
	color: rgb(243, 134, 136) !important;
}

button {
	background-color: rgb(88, 101, 242);
}

button,
.separator {
	margin-bottom: 8px;
}
.separator,
.separator > * {
	font-size: 12px;
	color: rgb(185, 187, 190);
}

button:focus {
	background-color: rgb(60, 69, 165) !important;
}

.open {
	display: block !important;
}

.open ~ div {
	display: none;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	animation: dotFlashing 0.8s infinite linear alternate;
	animation-delay: 0.5s;
	display: inline-block;
	transform: scale(0.7);
}

.dot-flashing::before,
.dot-flashing::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-flashing::before {
	left: -15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 0s;
}

.dot-flashing::after {
	left: 15px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #9880ff;
	color: #9880ff;
	animation: dotFlashing 1s infinite alternate;
	animation-delay: 1s;
}

@keyframes dotFlashing {
	0% {
		background-color: #9880ff;
	}
	50%,
	100% {
		background-color: #ebe6ff;
	}
}
