.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transform: scale(3);
	:global(.animate) & {
		transition: transform 0.3s, filter 0.3s;
	}
	filter: opacity(0);
	z-index: 99;
}

.open {
	transform: unset;
	filter: unset;
}
