.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: inherit;

	&::before {
		content: "i";
		color: rgba(0, 0, 0, 0);
		text-shadow: none;
	}

	.inner {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		white-space: nowrap;

		&.marquee {
			transition: transform var(--time) linear;
		}
	}
}