.timer {
	font-size: 24px;
	padding: 12px;
	text-align: center;
}

.bar {
	display: flex;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.1);

	div {
		flex-grow: 1;
		flex-basis: 0;
		display: flex;

		&:nth-child(2) {
			justify-content: center;
			font-weight: 700;
		}

		&:nth-child(3) {
			justify-content: flex-end;
		}
	}
}

.recorder {
	width: 100vw;
	background-color: #313338;
	:global(.light) & {
		background-color: #ffffff;
	}
}
